.myWidgets{
    /* display: flex; */
    padding: 60px;

}

body{

font-size: 25px;
justify-content: center;
background-color:lightcyan;
}

h1{ 
    /* color:green; */
    /* font-weight: bolder; */
    color: brown;
} 

header{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: yellow;
/* font-size: 25px; */
}

img{
    border-radius: 50%;
}

h2{
    color: hotpink;
    width: 25%;
}

button{
    font-size: 20px;
    background-color: lawngreen;
}

textarea{
    background-color: antiquewhite;
}

